@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .glassmorphism {
        backdrop-filter: blur(13px) saturate(200%);
        -webkit-backdrop-filter: blur(13px) saturate(200%);
        background-color: rgba(248, 235, 219);
        /* background-color: rgba(248, 235, 219, 0.25); */
        border-radius: 12px;
    }
    .glassmorphism-med {
        backdrop-filter: blur(20px) saturate(200%);
        -webkit-backdrop-filter: blur(13px) saturate(200%);
        background-color: rgba(248, 235, 219);
        /* background-color: rgba(216, 198, 178, 0.25); */
        border-radius: 12px;
    }
}